@charset "ISO-8859-1";

.img {
	height : 100px;
	width:100px;
	float: left;
	margin-right:1%;
	text-align: center;
	background-color: #ddd;
}

.img img {
	height:100px;
}

#lista {
	margin-left: 15%;
	margin-right:15%;
	background-color: #f2f4f6;
	margin-top: -25px;
	padding-bottom: 10px;
}

#lista h1 {
	padding: 1%;
}

#lista ul{ 
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow:visible;
	background-color: #f3f3f3;
	width: 100%;
}

.casa {
	border-bottom: 1px solid grey;
	font-size: 0.8em;
	background-color: #f6f6f6;
	text-align: left;
	height: 100px;
	color: #666;
}

ul .casa:hover{
	background-color: #ddd;
}

.casa form:last-child{
	float:right;
}

.username{
	font-size: 1.5em;
	font-weight: bold;
	padding-top: 1%;
	padding-bottom: 0.3%;
	cursor: pointer;
}

.casa form input[type=button], .casa input[type=submit], .casa input[type=reset] {
	border: none;
	text-decoration: none;
	color: #666;
	padding: 14px 16px;
	text-align: center;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	background-color: #ddd;
	height:100px;
}

.casa form input[type=button]:hover, .casa form input[type=submit]:hover, .casa form input[type=reset]:hover, #ordina form input[type=submit]:hover{
	background-color: #666;
	color: #f3f3f3; 
}

#ordina {
	height: 20%;
	background-color: #f3f3f3;
	text-align: right;
	color: #666;
}

#ordina input[type=text]{
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 4px;	
	padding: 5px 0px 5px 5px;
	margin-left: 1%;
}

#ordina input[type=submit] {
	border: none;
	text-decoration: none;
	color: #666;
	padding: 12px 61.5px;
	text-align: center;
	cursor: pointer;
	font-family: inherit;
	font-size: 0.8;
	background-color: #ddd;
	height:50px;
	margin-left: 1%;
}
