@charset "ISO-8859-1";

.copertina {
	height : 184px;
	width: 129px;
	float: left;
	margin-right:1%;
	text-align: center;
	background-color: #ddd;
	overflow: hidden;
}

.copertina img {
	height: 190px;
}

#lista {
	margin-left: 15%;
	margin-right:15%;
	background-color: #f2f4f6;
	margin-top: -25px;
	padding-bottom: 7.9%;
	flex: 1;
}

#lista h1 {
	padding: 1%;
}

#lista ul{ 
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow:visible;
	background-color: #f3f3f3;
	width: 100%;
}

.gioco {
	border-bottom: 1px solid grey;
	font-size: 0.8em;
	background-color: #f6f6f6;
	text-align: left;
	height: 184px;
	color: #666;
}

ul .gioco:hover{
	background-color: #ddd;
}

li #download:only-child {
	float:right;
}

.titolo{
	font-size: 1.5em;
	font-weight: bold;
	padding-top: 1%;
	padding-bottom: 0.3%;
}

li a {
	text-decoration: none;
	color:inherit;
}

#download {
	border: none;
	text-decoration: none;
	color: #666;
	padding: 14px 16px;
	text-align: center;
	font-family: inherit;
	font-size: inherit;
	background-color: #ddd;
	height: 184px;
	cursor: pointer;
}

#download:hover{
	background-color: #666;
	color: #f3f3f3; 
}

#ordina {
	height: 20%;
	background-color: #f3f3f3;
	text-align: right;
	color: #666;
	border-bottom: 1px solid grey;
}

#ordina input[type=submit] {
	border: none;
	text-decoration: none;
	color: #666;
	padding: 12px 35.5px;
	text-align: center;
	cursor: pointer;
	font-family: inherit;
	font-size: 0.8;
	background-color: #ddd;
	height:100px;
	margin-left: 1%;
}

.gioco form input[type=button], .gioco input[type=submit], .gioco input[type=reset] {
	border: none;
	text-decoration: none;
	color: #666;
	padding: 0px;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	background-color: inherit;
}

.gioco form input[type=submit]:hover, .gioco form input[type=reset]:hover, .gioco form input[type=submit]:hover, #ordina form input[type=submit]:hover{
	background-color: #666;
	color: #f3f3f3; 
}
