@charset "ISO-8859-1";
table {
	border-collapse: collapse;
	borer-radius: 4px;
	width: 100%;
}

table, th, td {
  border-bottom: 1px solid grey;
}

th {
	font-size: 1em;
	font-weight: bold;
	padding: 10px;
	background-color: #74b49b;
	color: #f9f8eb; 
	text-align: left;
}

td {
	padding: 10px;
}

tr:hover {
	background-color: #a7d7c5;
}

#select form input[type=button], input[type=submit], input[type=reset] {
	width:10%
}

h1 {
	text-align: center;
}

#select form {
	margin: auto;
	width: 50%;
}

#select select {
	padding: 0px;
	margin: 0px;
	font-size: 1.2em;
	border: 1px solid lightgrey;
}

#select {
	color: #666;
	background-color: #f3f3f3;
	padding:10px;
}

#tabella {
	overflow: scroll;
}

#select form input[type=button], #select form input[type=submit], #select form input[type=reset] {
	border: none;
	text-decoration: none;
	display: inline-block;
	color: #666;
	padding: 14px 16px;
	text-align: center;
	cursor: pointer;
	width: 10%;
	font-family: inherit;
	font-size: inherit;
	background-color: #ddd;
}

#select form input[type=button]:hover, #select form input[type=submit]:hover, #select form input[type=reset]:hover {
	background-color: #ddd;
}
