@charset "ISO-8859-1";

#ordina {
	background-color: #f3f3f3;;
	color: #666;
	text-align: right;
	border-bottom: 1px solid lightgrey;
}

#ordina input[type=text]{
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 4px;	
	padding: 5px 0px 5px 5px;
	margin-left: 1%;
}

#ordina input[type=submit] {
	border: none;
	text-decoration: none;
	color: #f9f8eb;
	padding: 12px 61.5px;
	text-align: center;
	cursor: pointer;
	font-family: inherit;
	font-size: 0.8;
	background-color: #b33f3f;
	height:50px;
	margin-left: 1%;
}

table {
	border-collapse: collapse;
	borer-radius: 4px;
	width: 100%;
}

table, th, td {
  border-bottom: 1px solid grey;
}

th {
	font-size: 1em;
	font-weight: bold;
	padding: 10px;
	background-color: #f6f6f6;
	text-align: left;
}

td {
	padding: 10px;
}

tr:hover {
	background-color: #ddd;
}

.img {
	height : 100px;
	width:100px;
	float: left;
	margin-right:1%;
	text-align: center;
	background-color: #ea5b5b;
}

.img img {
	height:100px;
}

#formVideogioco {
	background-color: #f3f3f3;;
	color: #666;	
	border: 1px solid lightgrey;
	border-radius: 4px;	
	padding: 5px 0px 5px 5px;
	margin-left: 1%;
	margin-right: 1%;
}

#formVideogioco input[type=submit] {
	border: none;
	text-decoration: none;
	color: #f9f8eb;
	padding: 12px 61.5px;
	text-align: center;
	cursor: pointer;
	font-family: inherit;
	font-size: 0.8;
	background-color: #b33f3f;
	height:50px;
	margin-left: 1%;
}

#campiFormVideogiocoObbligatori {
	text-align:left;
}

#aggiungiVideogiocoForm {
	
}

#radioButtonsScelta{
	text-align:right;
}