@charset "ISO-8859-1";

p {
	color:red;
	text-align:center;
	font-size: 0.8em;
	font-style: italic;
}

h1{
	color:#cccccc;
}

.box{
	width:100$
	padding:40px;
	text-align:center;
}


.field {
	margin: 20px auto;
	padding: 14px 10px;
	border: 1px solid lightgrey;
	border-radius: 4px;
	display: block;
	width: 400px;
	transition:0.25s;
}

.field:focus{
	width:480px;
	border-color:#cccccc;
}

#sub{
	border: none;
	text-decoration: none;
	display: block;
	color: #666;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	width: 420px;
	margin: auto;
	font-family: inherit;
	font-size: inherit;
	background-color: inherit;
	-webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

#sub:hover{
	background-color: #ddd;    
	-webkit-transform: scale(1.08,1.08);
    -moz-transform: scale(1.08,1.08);
    -o-transform: scale(1.08,1.08);
    -ms-transform: scale(1.08,1.08);
    transform: scale(1.08,1.08);
}