@charset "ISO-8859-1";

body {
	font-family: arial, sans-serif;
}

img#logo {
	max-width: 4%;
	height: auto;
}

header, footer {
	font-size: 3em;
}

header a, header a:visited, header a:hover, header a:active, footer a, footer a:visited, footer a:hover, footer a:active {
	color: inherit;							/*Non cambierà colore a seconda della pseudoclasse attiva associata all'ancora*/
	text-decoration: none;
}

h1 {
	text-align:center;
	color:lime;
	font-size:2em;
}

header {
	color:crimson;
}

footer {
	color:#00ffff;
}

#opzioni {
	font-size: 0.25em;
	color: #666;
	float: right;
	margin: 1%;
}

nav ul{ 
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow:visible;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
	width: 100%;
}

.selected {
	background-color: #ddd;
}

nav ul li:last-child {
	float: right;
}

nav li {
	display: inline-block;
}

nav li a {
	display: block;
	color: #666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	-webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

nav li a:hover {
	background-color: #ddd;    
	-webkit-transform: scale(1.15,1.15);
    -moz-transform: scale(1.15,1.15);
    -o-transform: scale(1.15,1.15);
    -ms-transform: scale(1.15,1.15);
    transform: scale(1.15,1.15);
}

.elementoLogin, .elementoEsplora, .elementoUser {
	position: absolute;
	background-color: #f1f1f1;
  	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	visibility:hidden;
    opacity:0;
    -webkit-transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    -moz-transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    -o-transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    transition:all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.elementoLogin form input[type=text], .elementoLogin form input[type=password]{
	width: 100%;
	box-sizing: border-box;
	padding: 5px;
	color: #666;
	border:none;
	border-bottom: 1px solid lightgrey;
	font-family: inherit;
	font-size: inherit;
}

.elementoLogin form input[type=button], .elementoLogin form input[type=submit], .elementoLogin form input[type=reset] {
	border: none;
	text-decoration: none;
	display: block;
	color: #666;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	background-color: inherit;
	-webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.elementoLogin form input[type=button]:hover, .elementoLogin form input[type=submit]:hover, .elementoLogin form input[type=reset]:hover {
	background-color: #ddd;    
	-webkit-transform: scale(1.08,1.08);
    -moz-transform: scale(1.08,1.08);
    -o-transform: scale(1.08,1.08);
    -ms-transform: scale(1.08,1.08);
    transform: scale(1.08,1.08);
}

.elementoLogin a:hover, .elementoEsplora a:hover, .elementoUser a:hover {
	background-color: #ddd;    
	-webkit-transform: scale(1.08,1.08);
    -moz-transform: scale(1.08,1.08);
    -o-transform: scale(1.08,1.08);
    -ms-transform: scale(1.08,1.08);
    transform: scale(1.08,1.08);	
}

#menuEsplora:hover .elementoEsplora, #menuLogin:hover .elementoLogin, #menuUser:hover .elementoUser {
	visibility:visible;
    opacity:1;
    transition-delay: 0s, 0s, 0.3s; 
}

#ricerca input[type=text]{
	margin: 10px 14px 0px 0px;
	padding: 5px 0px 5px 30px;
	background-color: white;
	background-image: url('/NYTRO/img/search.png');
	background-size: 17px;
	background-position: 4px 4px;
	background-repeat: no-repeat;
	border: 1px solid lightgrey;
	border-radius: 4px;
}

#recuperoPassword {
	display:none;
}