@charset "ISO-8859-1";

img#logo {
	max-width: 3%;
	height: auto;
}

header, footer {
	font-size: 3em;
}

header a, header a:visited, header a:hover, header a:active, footer a, footer a:visited, footer a:hover, footer a:active {
	color: inherit;							/*Non cambierà colore a seconda della pseudoclasse attiva associata all'ancora*/
	text-decoration: none;
}

h1 {
	text-align:center;
	color:lime;
	font-size:2em;
}

header {
	color:crimson;
}

footer {
	color:#00ffff;
}

.menu ul{ 
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
	 overflow: hidden;
	 border: 1px solid #e7e7e7;
	 background-color: #f3f3f3;
}

.menu li {
	display: inline-block;
	float: left;
}

.menu li a {
	display: block;
	color: #666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.menu form {
	display: block;
	color: #666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.menu li a:hover {
	background-color: #ddd;
}

.elementoTendina {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
  	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.elementoTendina a:hover {background-color: #ddd;}
.menuTendina:hover .elementoTendina {display: block;}