@charset "ISO-8859-1";

a {
	text-decoration: none;
	color: inherit;		
}

#pagina {
	text-align: center;
	padding: 1%;
	background-color: #f9f8eb;
	margin: -20px;
	color: #155e63;	
	padding-top: 10px;
}

#informazioni {
	display: table;
	width: 100%;
	flex: 1;
	background-color: #a7d7c5;
	color: #155e63;
}

#video {
	width: 40%;
	display: table-cell;
	padding-left: 2px;
	height: 400px;
}

#dettagli {
	display: table-cell;
    vertical-align:top;
	padding-left: 2%;
	text-align: center;
	height: 400px;
	overflow: hidden;
}

#img {
	height: 400px;
	float: right;
	padding-left: 2%;
}
#recensioni {
	text-align: center;
	display: table-caption;
	width: 100%;
	caption-side: bottom;
}

.prof {
	width: 20px;
}